.cabecalho {
    color: rgb(8, 8, 8);
    display:flex;        
    justify-content:center;
    align-items: center; 
    font-size:clamp(5px, 5vw, 20px);
    
}

.table-title {
    color: white;
    display:flex;        
    justify-content:center;
    align-items: center; 
    font-size:clamp(5px, 5vw, 20px);
    background-color: rgba(0, 60, 255, 0.767);
    border-radius: 5px;    
}

.nav-link, .navbar-brand{
    cursor: pointer;
}

.my-container {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;    
    align-items: center;
    
}

.my-container-content {
    width: 60%;
}

.my-container-content-fluid {
    width: 100%;
    margin-left: 5px;
}

.my-container-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.item-a{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    
    min-height: 300px;
}

.item-b{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    
}

.item-c{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
    
}

.item-d{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    
}


.newItem {
    padding: 30px 40px;
    color: white;
    display: flex;
    justify-content: center;
    
}

.items {
    width:100%;    
    font-size:18px;    
    margin: 0px;    
    justify-content: center;
    cursor: pointer;         
    color: white;
    border-width: 1px;
    
}

.close:hover {
    color: #f44336;
    font-weight: bolder;
    cursor: pointer;
}

.edit:hover {
    color: green;
    font-weight: bolder;
    cursor: pointer;
}



tbody > tr:nth-child(odd){
    background-color: #414040;
    
}

tbody > tr:nth-child(even){    
    background-color: #0f0f0fdc;
}

thead {
    background-color: #0f0f0fdc;
}

tbody > tr:hover {
    background: rgb(200, 199, 199);
}

.hidden {
    display: none;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 8px;
    border-radius: 6px;

    
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }


  .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }